<nav>
  <% unless user_signed_in? %>
    <div class="signUp">
      <%= form_for(User.new, url: user_registration_path) do |f| %>
        <ul>
          <li>
            <%= f.email_field :email, placeholder: 'Email' %>
          </li>
          <li>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
          </li>
        </ul>

        <%= f.submit 'Register' , :id => "emailLogin_btn"%>
      <% end %>
    </div>
    <hr>
    <div class="logIn">
      <%= form_for(User.new, url: user_session_path) do |f| %>
        <ul>
          <li>
            <%= f.email_field :email, placeholder: 'Email' %>
          </li>
          <li>
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
          </li>
        </ul>

        <%= f.submit 'Log in' %>
      <% end %>
    </div>
  <% else %>
    <h2>Logged in as : <strong><%= current_user.email %></strong> </h2>
  <% end %>
</nav>

<hr>

<% if user_signed_in? %>
  <!-- form for user to create records -->
  <form id="checkInRecord">
    Check in time
    <input type="datetime-local" id="started_at" required>
    <button type="button" id="checkInSubmit">Check In</button>
  </form>
  <form class="checkOutRecord">
    Check out time
    <input type="number" id="recordId" required>
    <input type="datetime-local" id="ended_at" required>
    <button type="button" id="checkOutSubmit">Check Out</button>
  </form>
  <hr>


  <!-- tab -->
  <!-- form for user id to follow and unfollow -->
  <!-- list for all users -->
  <!-- list for all followers -->
  <!-- list for all followings -->

  <script>
    $(document).ready(function() {
      var jwt = "<%= session[:jwt] %>";

      $('#checkInSubmit').on('click', function(event) {
        event.preventDefault();
        var started_at = $('#started_at').val();

        $.ajax({
          url: '/api/v1/sleeping_records/check_in',
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + jwt);
          },
          type: 'POST',
          data: {
            started_at: started_at
          },
          success: function(response){
            // console.log(response);
            alert('Success!')
          }
        })
      });

      $('#checkOutSubmit').on('click', function(event) {
        event.preventDefault();
        var id = $('#recordId').val();
        var ended_at = $('#ended_at').val();

        $.ajax({
          url: '/api/v1/sleeping_records/'+ id +'/check_out',
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Authorization", "Bearer " + jwt);
          },
          type: 'PATCH',
          data: {
            id: id,
            ended_at: ended_at
          },
          success: function(response){
            // console.log(response);
            alert('Success!')
          }
        })
      });
    });
  </script>

<% else %>
  <p> You should login first </p>
<% end %>
